<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- CENTRAL GROUP -->

	<!-- S1 central ultrasonic  -->
	
	<joint name="s1_ultrasonic_joint" type="fixed">
		<parent link="chassis"/>
		<child link="s1_ultrasonic_frame"/>
		<origin xyz="0.14 0 0.09" rpy="0 0 0"/>
	</joint>
	
	<link name="s1_ultrasonic_frame">
		<visual>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</collision>
		<xacro:inertial_box mass="0.01" x="0.015" y="0.045" z="0.02">
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:inertial_box>
	</link>
	
	<gazebo reference="s1_ultrasonic_frame">
		<material>Gazebo/Red</material>

        <sensor name="ultrasonic_s1" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>30</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>-0.12</min_angle>
                        <max_angle>0.12</max_angle>
                    </horizontal>
                    <vertical>
          				<samples>5</samples>
          				<resolution>1.000000</resolution>
          				<min_angle>-0.01</min_angle>
          				<max_angle>0.01</max_angle>
        			</vertical>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>1.5</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
        			<type>gaussian</type>
        			<mean>0.0</mean>
        			<stddev>0.01</stddev>
      			</noise>
            </ray>
            <plugin name="ultrasonic_s1" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=front_sonars/s1</argument>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <radiation_type>ultrasound</radiation_type>
                <frame_name>s1_ultrasonic_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
    
    <!-- S10 left ultrasonic-->
	
	<joint name="s10_ultrasonic_joint" type="fixed">
		<parent link="chassis"/>
		<child link="s10_ultrasonic_frame"/>
		<origin xyz="0.1275 0.04665 0.09" rpy="0 0 ${pi/6}"/>
	</joint>
	
	<link name="s10_ultrasonic_frame">
		<visual>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</collision>
		<xacro:inertial_box mass="0.01" x="0.015" y="0.045" z="0.02">
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:inertial_box>
	</link>
	
	<gazebo reference="s10_ultrasonic_frame">
		<material>Gazebo/Red</material>

        <sensor name="ultrasonic_s10" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>30</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>-0.12</min_angle>
                        <max_angle>0.12</max_angle>
                    </horizontal>
                    <vertical>
          				<samples>5</samples>
          				<resolution>1.000000</resolution>
          				<min_angle>-0.01</min_angle>
          				<max_angle>0.01</max_angle>
        			</vertical>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>1.5</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
        			<type>gaussian</type>
        			<mean>0.0</mean>
        			<stddev>0.01</stddev>
      			</noise>
            </ray>
            <plugin name="ultrasonic_s10" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=front_sonars/s10</argument>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <radiation_type>ultrasound</radiation_type>
                <frame_name>s10_ultrasonic_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
    
    <!-- S2 right ultrasonic -->
	
	<joint name="s2_ultrasonic_joint" type="fixed">
		<parent link="chassis"/>
		<child link="s2_ultrasonic_frame"/>
		<origin xyz="0.1275 -0.04665 0.09" rpy="0 0 -${pi/6}"/>
	</joint>
	
	<link name="s2_ultrasonic_frame">
		<visual>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</collision>
		<xacro:inertial_box mass="0.01" x="0.015" y="0.045" z="0.02">
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:inertial_box>
	</link>
	
	<gazebo reference="s2_ultrasonic_frame">
		<material>Gazebo/Red</material>

        <sensor name="ultrasonic_s2" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>30</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>-0.12</min_angle>
                        <max_angle>0.12</max_angle>
                    </horizontal>
                    <vertical>
          				<samples>5</samples>
          				<resolution>1.000000</resolution>
          				<min_angle>-0.01</min_angle>
          				<max_angle>0.01</max_angle>
        			</vertical>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>1.5</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
        			<type>gaussian</type>
        			<mean>0.0</mean>
        			<stddev>0.01</stddev>
      			</noise>
            </ray>
            <plugin name="ultrasonic_s2" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=front_sonars/s2</argument>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <radiation_type>ultrasound</radiation_type>
                <frame_name>s2_ultrasonic_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
    
    
    <!-- RIGHT GROUP -->

	<!-- S4 central ultrasonic  -->
	
	<joint name="s4_ultrasonic_joint" type="fixed">
		<parent link="chassis"/>
		<child link="s4_ultrasonic_frame"/>
		<origin xyz="0 -0.13 0.09" rpy="0 0 -${pi/2}"/>
	</joint>
	
	<link name="s4_ultrasonic_frame">
		<visual>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</collision>
		<xacro:inertial_box mass="0.01" x="0.015" y="0.045" z="0.02">
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:inertial_box>
	</link>
	
	<gazebo reference="s4_ultrasonic_frame">
		<material>Gazebo/Red</material>

        <sensor name="ultrasonic_s4" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>30</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>-0.12</min_angle>
                        <max_angle>0.12</max_angle>
                    </horizontal>
                    <vertical>
          				<samples>5</samples>
          				<resolution>1.000000</resolution>
          				<min_angle>-0.01</min_angle>
          				<max_angle>0.01</max_angle>
        			</vertical>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>1.5</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
        			<type>gaussian</type>
        			<mean>0.0</mean>
        			<stddev>0.01</stddev>
      			</noise>
            </ray>
            <plugin name="ultrasonic_s4" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=right_sonars/s4</argument>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <radiation_type>ultrasound</radiation_type>
                <frame_name>s4_ultrasonic_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
    
    <!-- S3 left ultrasonic  -->
	
	<joint name="s3_ultrasonic_joint" type="fixed">
		<parent link="chassis"/>
		<child link="s3_ultrasonic_frame"/>
		<origin xyz="0.04665 -0.11725 0.09" rpy="0 0 -${pi/3}"/>
	</joint>
	
	<link name="s3_ultrasonic_frame">
		<visual>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</collision>
		<xacro:inertial_box mass="0.01" x="0.015" y="0.045" z="0.02">
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:inertial_box>
	</link>
	
	<gazebo reference="s3_ultrasonic_frame">
		<material>Gazebo/Red</material>

        <sensor name="ultrasonic_s3" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>30</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>-0.12</min_angle>
                        <max_angle>0.12</max_angle>
                    </horizontal>
                    <vertical>
          				<samples>5</samples>
          				<resolution>1.000000</resolution>
          				<min_angle>-0.01</min_angle>
          				<max_angle>0.01</max_angle>
        			</vertical>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>1.5</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
        			<type>gaussian</type>
        			<mean>0.0</mean>
        			<stddev>0.01</stddev>
      			</noise>
            </ray>
            <plugin name="ultrasonic_s3" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=right_sonars/s3</argument>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <radiation_type>ultrasound</radiation_type>
                <frame_name>s3_ultrasonic_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
    
    <!-- S5 right ultrasonic  -->
	
	<joint name="s5_ultrasonic_joint" type="fixed">
		<parent link="chassis"/>
		<child link="s5_ultrasonic_frame"/>
		<origin xyz="-0.04665 -0.11725 0.09" rpy="0 0 -${2*pi/3}"/>
	</joint>
	
	<link name="s5_ultrasonic_frame">
		<visual>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</collision>
		<xacro:inertial_box mass="0.01" x="0.015" y="0.045" z="0.02">
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:inertial_box>
	</link>
	
	<gazebo reference="s5_ultrasonic_frame">
		<material>Gazebo/Red</material>

        <sensor name="ultrasonic_s5" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>30</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>-0.12</min_angle>
                        <max_angle>0.12</max_angle>
                    </horizontal>
                    <vertical>
          				<samples>5</samples>
          				<resolution>1.000000</resolution>
          				<min_angle>-0.01</min_angle>
          				<max_angle>0.01</max_angle>
        			</vertical>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>1.5</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
        			<type>gaussian</type>
        			<mean>0.0</mean>
        			<stddev>0.01</stddev>
      			</noise>
            </ray>
            <plugin name="ultrasonic_s5" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=right_sonars/s5</argument>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <radiation_type>ultrasound</radiation_type>
                <frame_name>s5_ultrasonic_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
    
    <!-- LEFT GROUP -->

	<!-- S8 central ultrasonic  -->
	
	<joint name="s8_ultrasonic_joint" type="fixed">
		<parent link="chassis"/>
		<child link="s8_ultrasonic_frame"/>
		<origin xyz="0 0.13 0.09" rpy="0 0 ${pi/2}"/>
	</joint>
	
	<link name="s8_ultrasonic_frame">
		<visual>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</collision>
		<xacro:inertial_box mass="0.01" x="0.015" y="0.045" z="0.02">
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:inertial_box>
	</link>
	
	<gazebo reference="s8_ultrasonic_frame">
		<material>Gazebo/Red</material>

        <sensor name="ultrasonic_s8" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>30</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>-0.12</min_angle>
                        <max_angle>0.12</max_angle>
                    </horizontal>
                    <vertical>
          				<samples>5</samples>
          				<resolution>1.000000</resolution>
          				<min_angle>-0.01</min_angle>
          				<max_angle>0.01</max_angle>
        			</vertical>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>1.5</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
        			<type>gaussian</type>
        			<mean>0.0</mean>
        			<stddev>0.01</stddev>
      			</noise>
            </ray>
            <plugin name="ultrasonic_s8" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=left_sonars/s8</argument>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <radiation_type>ultrasound</radiation_type>
                <frame_name>s8_ultrasonic_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
    
    <!-- S7 left ultrasonic  -->
	
	<joint name="s7_ultrasonic_joint" type="fixed">
		<parent link="chassis"/>
		<child link="s7_ultrasonic_frame"/>
		<origin xyz="-0.04665 0.11725 0.09" rpy="0 0 ${2*pi/3}"/>
	</joint>
	
	<link name="s7_ultrasonic_frame">
		<visual>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</collision>
		<xacro:inertial_box mass="0.01" x="0.015" y="0.045" z="0.02">
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:inertial_box>
	</link>
	
	<gazebo reference="s7_ultrasonic_frame">
		<material>Gazebo/Red</material>

        <sensor name="ultrasonic_s7" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>30</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>-0.12</min_angle>
                        <max_angle>0.12</max_angle>
                    </horizontal>
                    <vertical>
          				<samples>5</samples>
          				<resolution>1.000000</resolution>
          				<min_angle>-0.01</min_angle>
          				<max_angle>0.01</max_angle>
        			</vertical>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>1.5</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
        			<type>gaussian</type>
        			<mean>0.0</mean>
        			<stddev>0.01</stddev>
      			</noise>
            </ray>
            <plugin name="ultrasonic_s7" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=left_sonars/s7</argument>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <radiation_type>ultrasound</radiation_type>
                <frame_name>s7_ultrasonic_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
    
    <!-- S9 right ultrasonic  -->
	
	<joint name="s9_ultrasonic_joint" type="fixed">
		<parent link="chassis"/>
		<child link="s9_ultrasonic_frame"/>
		<origin xyz="0.04665 0.11725 0.09" rpy="0 0 ${pi/3}"/>
	</joint>
	
	<link name="s9_ultrasonic_frame">
		<visual>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</collision>
		<xacro:inertial_box mass="0.01" x="0.015" y="0.045" z="0.02">
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:inertial_box>
	</link>
	
	<gazebo reference="s9_ultrasonic_frame">
		<material>Gazebo/Red</material>

        <sensor name="ultrasonic_s9" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>30</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>-0.12</min_angle>
                        <max_angle>0.12</max_angle>
                    </horizontal>
                    <vertical>
          				<samples>5</samples>
          				<resolution>1.000000</resolution>
          				<min_angle>-0.01</min_angle>
          				<max_angle>0.01</max_angle>
        			</vertical>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>1.5</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
        			<type>gaussian</type>
        			<mean>0.0</mean>
        			<stddev>0.01</stddev>
      			</noise>
            </ray>
            <plugin name="ultrasonic_s9" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=left_sonars/s9</argument>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <radiation_type>ultrasound</radiation_type>
                <frame_name>s9_ultrasonic_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
    
    <!-- BACK SENSOR S6 -->
	
	<joint name="s6_ultrasonic_joint" type="fixed">
		<parent link="chassis"/>
		<child link="s6_ultrasonic_frame"/>
		<origin xyz="-0.14 0 0.09" rpy="0 0 ${pi}"/>
	</joint>
	
	<link name="s6_ultrasonic_frame">
		<visual>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.015 0.045 0.02"/>
			</geometry>
			<material name="red"/>
		</collision>
		<xacro:inertial_box mass="0.01" x="0.015" y="0.045" z="0.02">
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:inertial_box>
	</link>
	
	<gazebo reference="s6_ultrasonic_frame">
		<material>Gazebo/Red</material>

        <sensor name="ultrasonic_s6" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>30</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>-0.12</min_angle>
                        <max_angle>0.12</max_angle>
                    </horizontal>
                    <vertical>
          				<samples>5</samples>
          				<resolution>1.000000</resolution>
          				<min_angle>-0.01</min_angle>
          				<max_angle>0.01</max_angle>
        			</vertical>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>1.5</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
        			<type>gaussian</type>
        			<mean>0.0</mean>
        			<stddev>0.01</stddev>
      			</noise>
            </ray>
            <plugin name="ultrasonic_s6" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=back_sonar/s6</argument>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <radiation_type>ultrasound</radiation_type>
                <frame_name>s6_ultrasonic_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
    

</robot>
